.*

# environment specific files
data/*
.env.*
.serverless/*
env.*

# Python artifacts
*.pyc
dist/*
test*.py
*egg-info*

# Node artifacts
node_modules

# Sandbox area
sandbox/*

# Editors
*.swp
*.vscode
