# You can optionally specify an AWS profile if you use multiple AWS configs
#export AWS_PROFILE=rxv

# DB settings
export db_user=''
export db_password=''
export db_host=''
export db_name=''
db_host_replica=''                  # Only used by MySQL backup in production
export stage_db_name=''           # stage table used for loading RxNorm data

