# You can optionally specify an AWS profile if you use multiple AWS configs
#export AWS_PROFILE=rxv

# DB settings
export db_user=''
export db_password=''
export db_host=''
export db_schema=''
export stage_db_schema=''           # stage table used for loading RxNorm data


###################
## NPI table values
###################
export npi_table_name='npis'
export npi_log_table_name='npi_import_logs'

##################
## RXNORM values
##################
export rxnorm_table_name='products'
export rxnorm_synonyms_table_name='product_synonyms'

################
## AWS Specific
################
export aws_region='us-east-1'
export aws_key=''
export aws_sns_topic_arn=''

# Loader AMI
export aws_image_id='ami-00b02b36cf664918d'   # Custom Loader AMI with environment pre-installed.  See packer/

# Instance sizing
export aws_db_backup_instance_type='i3en.large'
export aws_rxnorm_instance_type='t2.medium'
export aws_weekly_instance_type='t2.small'
export aws_monthly_instance_type='m5.4xlarge'

# Networking
export aws_subnets=''
export aws_vpc_id=''
export aws_security_groups=''

# Configuration
export weekly_import_timeout='20'     # in minutes
export monthly_import_timeout='120'