# DB settings
export db_user=''
export db_password=''
export db_host=''
export db_schema=''

export npi_table_name='<table name>'                # Table name used for import data
export npi_log_table_name='<log table name>''       # Table name used for file metadata

# AWS Specific
export aws_region='us-east-1'
export aws_key='<your aws key>'                     # EC2 SSH key
export AWS_PROFILE=default                          # If you have multiple AWS accounts

# Loader AMI
export aws_image_id='<ami loader id>'               # Custom loader.  Currently built manually, it should be in Packer.  See admin for correct AMI.

# Instance sizing
export aws_weekly_instance_type='t2.small'          # Instance size of weekly loader
export aws_monthly_instance_type='m5d.4xlarge'      # Instance size of monthly loader

# Networking and Database
export aws_subnets='subnet-1234,subnet-5678'        # Subnets to run EC2 and lambdas
export aws_vpc_id='vpc-1234'                        # VPC ID
export aws_security_groups='sg-1234'                # Security group for EC2's and lambdas
export aws_rds_security_group='sg-5678'             # Security group for RDS (dev only)
export aws_rds_parameter_group='<your parameter group if using DB>'  # RDS will use custom parameter group (dev only)
export aws_db_subnet_group='<your subnet group>'    # RDS subnet group (dev only)

# Configuration
export npi_max_weekly_instances='1'                 # Max number of weekly instances (per env) to run at once.  Recommended to leave this alone.
export weekly_import_timeout='11'                   # Timeout value for weekly loader
export monthly_import_timeout='600'                 # Timeout value for monthly loader
